{% extends 'base.html' %}

{% block content %}
<div class="links">
    <div class="nav">
        <p><a href="{% url 'home' %}">Home</a></p>
    </div>
    <p class="logout"><a href="{% url 'logout' %}">Logout</a></p>
</div>

<div class="info">
    <div class="recordtitle">
        <h4>Goal is to {{ habit }} for {{ habit.target }} {{ habit.measurement }} </h4>
        <p><a href="{% url 'new_record' habitpk=habit.pk %}">Add record</a></p>
    </div>
    <table>
        <tr>
        <th>Record</th>
        <th>Date</th>
        <th>More info</th>
        </tr>
    {% for record in records %}
        <tr>
        <td class="star">
            <p>{{ record.r_habit }} for {{ record.target}} {{ record.r_habit.measurement }}</p>
            <p>{% if record.target >= habit.target %}
            ⭐️
            {% endif %}</p>
        </td>
        <td>{{ record.h_date }}</td>
        <td><p><a href="{% url 'day_record' habitpk=record.r_habit.pk yearpk=record.h_date.h_year monthpk=record.h_date.h_month.pk daypk=record.h_date.h_day.pk %}">Details</a></p></td>
        </tr>

    {% endfor %}
    </table>

    <h5>To delete habit<a href="{% url 'habit_delete' habitpk=habit.pk %}"> press here</a></h5>
</div>
{% endblock %}